*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.canvas-box{
    margin:20px 0;
    text-align: center;   
}
.canvas{
     border: 1px solid black;
}
.input-box{
    width: 600px;
    margin: auto;
    position: relative;
}
.input{
    height: 50px;
    width:100%;
    outline: none;
    border: 3px solid rgb(118, 190, 10);
    border-radius: 20px;
    padding: 5px 20px 5px 110px;
    line-height: 30px;
    font-size: 30px;
}
.ex{
    position: absolute;
    top: 8px;
    left:10px;
    font-size: 30px;
    color: rgb(27, 17, 37);
    font-weight: 800;

}
.button {
    position: absolute;
    top: 1px;
    right: 0px;
    font-size: 30px;
    color: rgb(27, 17, 37);
    font-weight: 800;
    background-color: red;
outline: none;
border: 3px solid red;
border-radius: 20px;
}
